<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="{% static 'myscript.js' %}"></script>
        <script type="text/javascript" src="{% static 'theme.js' %}"></script>
        <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    </head>
    <body style="background-color: black;">
    <div class="container">
        <h1>Hanifah Annisa Putri</h1> 
        <p>Welcome to my page! Click on the buttons to learn more about me!</p>
        <button class="button">Set Theme</button>

        <div id="bottom">
            <div id="accordion">
                <div Class="one">   
                    <p style="padding: 1% 1% 1% 1.5%;">About 
                        <span style="float: right; padding-right: 2%">
                            <a class='up'><b>Ʌ</b></a>
                            <a class='down'><b>V</b></a>
                        </span>
                    </p>
                    <div class="change">    
                        <p> 
                                Welcome! My name is Hanifah Annisa Putri. I am an undergraduate student at University of Indonesia, majoring in Computer Science international program.
                                I am currently in my second semester, learning about web design. I wish to become a UI designer after graduating.
                                I have an interest in digital illustration, design.
                        </p>
                    </div>
                </div>
        
                <div Class="one">
                    <p style="padding: 1% 1% 1% 1.5%;">Current Activites
                        <span style="float: right; padding-right: 2%">
                            <a class='up'><b>Ʌ</b></a>
                            <a class='down'><b>V</b></a>
                        </span>
                    </p>                
                    <div class="change">    
                        <p>
                            • Online Class<br>
                            • Learning New Hobbies<br>
                            • Doing Assignments
                        </p>
                    </div>
                </div>
        
                <div Class="one">
                    <p style="padding: 1% 1% 1% 1.5%;">Committee Experience 
                        <span style="float: right; padding-right: 2%">
                            <a class='up'><b>Ʌ</b></a>
                            <a class='down'><b>V</b></a>
                        </span>
                    </p>
                    <div class="change">    
                        <p>
                            • Staff of Design (Buku Angkatan Maung 2019)<br>
                            • Staff of Media Creative Documentation (Pemira Fasilkom UI 2019)<br>
                            • Staff of Visual Design (Pesta Rakyat Komputer 2019)<br>
                            • Staff of Visual Design (Compfest 2020)
                        </p>
                    </div>
                </div>

                <div Class="one">
                    <p style="padding: 1% 1% 1% 1.5%;">Achievements 
                        <span style="float: right; padding-right: 2%">
                            <a class='up'><b>Ʌ</b></a>
                            <a class='down'><b>V</b></a>
                        </span>
                    </p>
                    <div class="change">    
                        <p>
                            • Math Kumon Completer (2018)<br>
                            • EFL Kumon Completer (2016)<br>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </body>
</html>