.one{
    /* background-color:  #00313C; */
    align-items: center;
    height: 33%;
    padding: 0%;
}

#bottom {
    position: auto;
    left: 0;
    right: 0;
    height: 75%;
    align-items: center;
    bottom: 0;
    background-color:#00313C;
}

a.up {
    text-decoration: none;
    display: inline-block;
    padding: 3px 10px;  
    margin: 0px; 
    background-color: #e31c79;
    color: white;
    border: white;
    font-family: sans-serif;
    border-style: solid;
    border-width: 1px;
}

a.down {
    text-decoration: none;
    display: inline-block;
    padding: 3px 10px;
    margin: 0px;
    color: white;
    background-color: black;
    border: white;
    border-style: solid;
    border-width: 1px;
    font-family: sans-serif;
}

h1 {
    color: white;
    font-size: 200%;
}

p {
    color: white;
    font-size: 100%;
}

.container {
    padding: 2% 5% 2% 5%;
}

button {
    color: white;
    background-color: black;
}

.change {
    background-color: #e31c79; padding: 1% 1% 1% 1%; height: auto;
    padding-bottom: 4% !important;
}